body {background-color: #22262D;}
h1   {color: blue;}
h2   {color: blue;}
h3   {
  margin: 32px 0px;
  padding-top: 8px;
  color: #F0F8FF;
  font-size: 24px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 32px;
  letter-spacing: 0.1px;
}

p    {color: red;}
.popup {
  animation-name: popsup;
  animation-duration: 0.5s;
  margin: auto;
  margin-top: 50px;
  width: 480px;
  height: auto;
  box-shadow: 0px 24px 24px rgba(0,0,0,0.24);
  border-radius: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(240,248,255,0.12)
}

@keyframes popsup {
    from   {margin-top: 100px;
    opacity: 0}
    to {margin-top: 50px;
    opacity: 1}
}

.vid  {
  width: 200px;
  height: 200px;
  margin: auto;
}
.textpart {
  margin-top: 32px;
  padding: 0px 40px;
  color: #F0F8FF;
  font-size: 16px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
}

.fixbot{
  padding: 40px 40px;
  border-top: 1px solid rgba(240,248,255,0.4);
  margin: 32px 40px 0px 40px;
  text-align: center;
}


button {
  margin: auto;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.primary-btn{
  margin: auto;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
  color: #F0F8FF;
  text-align: center;
  background-image: linear-gradient(135deg, #27B18A 0%, #395052 100%);
  border: 2px solid rgba(240,248,255,0.24);
  box-shadow: 0 2px 8px 0 rgba(39,177,138,0.37);
  border-radius: 12px;
}

.secondary-outline-btn{
border: 2px solid rgba(240,248,255,0.64);
}

.lg {
    padding: 16px 32px;
    line-height: 24px;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 12px;
}

.md {
    padding: 12px 24px;
    line-height: 20px;
    letter-spacing: 0.08px;
    font-size: 16px;
    border-radius: 8px;
}


