body {
    position: relative;
    margin: 0;
    background: url(bg-explorer.png);
    background-size: cover;
    display: flex;
    height: 100vh;
}

body > div{
    position: relative;
    max-width: 512px;
    width: 100%;
    margin: auto;
}

.holo {

    width: 100%;
    mix-blend-mode: screen;
  }

.card {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    filter: drop-shadow(0px 12px 24px #000000);
  }

